<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>hi meena ,what are you making for todays food?</h1>
        <h1> can you try any new recepie please</h1>
        <a href="{% url 'meena' %}"><h1>meena response</h1></a>
        <a href="{% url 'specific:chandu' %}"><h1>chandu</h1></a>
        <a href="{% url 'specific:mouni' %}"><h1>mouni</h1></a>
    </center>
</body>
</html>